.divider hr {
    display: flex;
    justify-content: center;
    border: none;
}

.divider hr::before {
    content: "***";
    letter-spacing: 1em;
    margin-right: -1em;
    font-size: 2em;
}