[data-block=Divider] hr {
    display: flex;
    justify-content: center;
    border: none;
    height: auto;
}

[data-block=Divider] hr::before {
    content: "***";
    letter-spacing: 1em;
    margin-right: -1em;
    font-size: 2em;
}